# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/form_autofill?retryWrites=true&w=majority
DATABASE_NAME=form_autofill_db
COLLECTION_NAME=extractions

# Server Config
PORT=8000
